Flask==2.3.2
Werkzeug==2.3.7

Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.3

holidays==0.77
psycopg2-binary==2.9.12
pandas==2.2.3
numpy==2.2.6
XlsxWriter==3.2.9
openpyxl==3.1.5
pytz==2025.2
requests==2.32.3

Flask-SocketIO==5.3.6
python-socketio==5.11.2
python-engineio==4.12.3
simple-websocket==1.1.0

gunicorn==21.2.0
